<html>
<head>
<link rel="stylesheet" type="text/css" href="main.css" />
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css">
</head>
<body>

    <script src="jquery-1.6.2.js"></script>
    <script src="jquery.tmpl.js"></script>   
    <script id = "tmplDBItem" type="text/x-jquery-tmpl">      
        <div class="row">
            <div class="span12 columns">
                <h3>Schemes</h3>    
            </div>
            <div class="span4 columns right">
                <a href="#" class="btn" id="dbSchemaRefresh">refresh</a>  
                <a href="#" class="btn dbHide">-</a>
            </div>
        </div>
        <table class="tablespaces">
            <thead>
                <tr>
                    <th width="40%">Name</th>
                    <th width="20%">Free</th>
                    <th width="20%">Total</th> 
                    <th width="20%">Percent</th> 
                </tr>
            </thead>
            <tbody>
            	<tr class="dbLoading"><td colspan="4" class="center">Loading <img src="loading_icon.gif" /></td></tr>
            </tbody>
        </table>
        <table class="schemesList">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th width="10%">Size</th>
                    <th width="10%">Connections</th> 
                    <th width="30%">&nbsp</th> 
                </tr>
            </thead>
            <tbody>
            	<tr class="dbLoading"><td colspan="4" class="center">Loading <img src="loading_icon.gif" /></td></tr>
            </tbody>
        </table>
    </script> 
    <script id = "tmplDbListItem" type="text/x-jquery-tmpl">
        <li><a href="#" host="${host}/${sid}" class="dbLink">${sid}@${host}</a></li>
    </script> 
    <script id = "tmplDbSchema" type="text/x-jquery-tmpl">
                            <tr class="{{if connection_count > 0 && connection_count <= 3 }}schemaFree {{/if}}{{if connection_count > 3 }}schemaUsed {{/if}}dbSchema">
                            <td >${name}</td>
                            <td >${size}GB</td>
                            <td >${connection_count}</td>
                            <td class="right">{{if connection_count < 1 }}<a class="btn danger schemaDrop">Drop</a>{{/if}}</td>
                            </tr>
    </script> 
    <script id = "tmplDbTablespace" type="text/x-jquery-tmpl">
                            <tr>
                            <td >${name}</td>
                            <td >${freeSpace}GB</td>
                            <td >${totalSpace}GB</td>
                            <td >***</td>
                            </tr>
    </script> 
    <script type="text/javascript">
        $(document).ready(function(){
           $('#reloadDBList').click(function(){
           	   console.log("get /api/database/list");
        	   $.get("/api/database/list", loadDatabaseListCB);
           });
           
           table = $("#db");
           loadDatabaseListCB([{sid:"SID", host : "mox00.se-b.ru"}, {sid:"SID2", host : "mox02.se-b.ru"}]);
           loadSchemasCB([{name:"scheme1", size:"50", connection_count:"123"}]);
           loadTemplatesCB([{name:"scheme1", size:"50", connection_count:"123"}]);
           item = $('.tmplDbListItem[host="mox00.se-b.ru/SID"]');
           $('#tmplDbSchema').tmpl({name:"scheme1", size:"50", connection_count:40}).appendTo(table);   
           $('#tmplDbSchema').tmpl({name:"scheme1", size:"50", connection_count:0}).appendTo(table);   
           $('#tmplDbSchema').tmpl({name:"scheme1", size:"50", connection_count:1}).appendTo(table);   
           $('#tmplDbTablespace').tmpl({name:"scheme1", freeSpace:103, totalSpace:154}).appendTo(table);   
         });
        
        
        function loadDatabaseListCB(json) {
        	console.log("got");
        	console.log(json);
            list = $('#dbList');
            list.children().remove();
            for(i in json) {
                $('#tmplDbListItem').tmpl(json[i]).appendTo(list);                 
            }
            $('.dbLink').click(clickDb);
			      $('.dbLink').first().click();
        }
        
        function clickDb(e) {
        	link = $(e.target);
        	if( !link.parent().hasClass("active") ) {
	        	link.parent().parent().children().removeClass("active");
	        	link.parent().addClass("active");
	   		     	
	        	$("#dbItem").empty();
	        	$('#tmplDBItem').tmpl().appendTo(dbItem);
	        	$("#dbSchemaRefresh").click(loadSchemas);
	        	
	        	loadSchemas();

        	}
        }
        
        function loadSchemas() {
        	$(".schemesList").find(".dbLoading").show();

    			//clear existing schemas
    			$(".dbSchema").remove();
        		
        	//get schema info
        	link = $("#dbList").children(".active").children("a");
        	var requestUrl = "/api/database/info/" + link.attr("host") + "/schema";
        	console.log("get " + requestUrl);
    	    $.get(requestUrl, loadSchemasCB);
        }
        
        function loadSchemasCB(json) {
        	console.log("got");
        	console.log(json);
        	dbItem = $("#dbItem");
	        //fill schemas
	        table = dbItem.find("table.schemesList").find("tbody");
	        for(i in json) {
            $('#tmplDbSchema').tmpl(json[i]).appendTo(table);   
          }
          $(".schemaDrop").click(dropSchema)
          $(".schemesList").find(".dbLoading").hide();
        }
        
        function loadTemplateCB(json) {
        	console.log("got");
        	console.log(json);
        	dbItem = $("#dbItem");
	        //fill schemas
	        table = dbItem.find("table.tablespaces").find("tbody");
	        for(i in json) {
            $('#tmplDbTablespace').tmpl(json[i]).appendTo(table);   
          }
          $(".tablespaces").find(".dbLoading").hide();
        }
        
        function dropSchema(button) {
          var b = $(button.target);
          var schema = b.parents("tr").children("td:first-child").text();
          var dbHost = $("#dbList").children(".active").children("a").attr("host");
          var requestUrl = "/api/database/info/" + dbHost + "/drop/" + schema; 
          console.log("get " + requestUrl);
          $.get(requestUrl, dropSchemaCB);          
        }
        
        function dropSchemaCB(json) {
          console.log("got");
          console.log(json);
        }
	</script>
<br/>
<br/>
<div class="container" id="db">
    <div class="container">
        <div class="row">
            <div class="span12 columns">
                <h1>Databases</h1>    
            </div>
            <div class="span4 columns right">
                <a href="#" id="reloadDBList" class="btn">Reload server list</a>
            </div>
        </div>    
        <ul class = "tabs" id="dbList">
        </ul>
        <div class="container" id="dbItem">
        </div>
    </div>
    
</div>
</body>
</html>